@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans:opsz@9..40&family=Delius+Unicase:wght@700&family=Inter:wght@500;700;800&family=Open+Sans&family=Roboto:wght@500;700&display=swap&family=Single+Day&display=swap');


.group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    
}

.groupleft{
    width: 50px;
    height: 50px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    background-color: #0047FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.groupright{
font-family: 'Roboto';
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.02em;
text-align: left;
color: black;
display: flex;
justify-content: left;
align-items: left;
width: 12vw;

}

@media only screen and (max-width: 400px) {
    
    .group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-radius: 10px;
        padding: 5px;
        width: 60vw;
        margin-left: 15vw;
        
    }
}